<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>RadioCanadaBig-Italic-VariableFont_wght.ttf</string>
		<string>RadioCanadaBig-VariableFont_wght.ttf</string>
		<string>ABCGravityVariable.ttf</string>
	</array>
</dict>
</plist>
